.hero_container {
    height: 400px;
    background-image: url("https://www.donnad.it/sites/default/files/styles/r_gallery_d/public/202118/sfondi-desktop-paesaggi-estivi-3.jpg?itok=W9HrYWom");
    height: 400px;
    background-image: url(https://www.donnad.it/sites/default/files/styles/r_gallery_d/public/202118/sfondi-desktop-paesaggi-estivi-3.jpg?itok=W9HrYWom);
    background-attachment: inherit;
    background-position: center;
    background-size: cover;
}

.cursiv {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.card {
    height: 500px;
}

.img_card {
    width: 100%;
    height: 200px;
}